@import "tailwindcss";
.gallery > div > div > div{
    border-radius: var(--border-radius);
}
.picture{
    /* background-color: transparent;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll; */
    width: 100%;
    height: 100%;
    position: relative;
}
.zoom{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 126, 249, .5);
    display: none;
    cursor: pointer;
    z-index: 3;
}
.zoom > i{
    position: absolute;
    font-size: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
@media (max-width: 1399px) {
    .zoom > i{
        font-size:calc(30px + 2.142857vw) !important;
    }
}
/* .video::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 40px solid white;
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.video::before{
    content: "";
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 50rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
    z-index: 2;
} */
.picture:hover + .zoom, .zoom:hover {
    display: unset;
}
.circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid white;
    bottom: 10px;
    right: 10px;
    z-index: 5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.picture.selected + * + .circle{
    background-color: #007EF9;
}
.picture.selected{
    opacity: 0.5;
}
.purchased{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--acid-green);
    padding: 0.2rem 0.5rem;
    color: #666666;
    font-size: 12px;
    border-radius: var(--border-radius);
}
.favorite{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.contentTypeBadge {
    position: absolute;
    top: 8px;
    right: 8px;
    /* background-color: rgba(0, 0, 0, 0.55); */
    color: white;
    padding: 4px 6px;
    border-radius: var(--border-radius);
    z-index: 4;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}