@import "tailwindcss";
.avatar {
    width: 200px;
    height: 200px;
    border: 2px dashed;
    border-radius: 50%;
    border-color: var(--secondary-event-color, --secondary-color);
    position: relative;
    background: rgba(158, 158, 158, 0.2);
    @apply mx-auto my-10;
}
.avatar.add{
  cursor: pointer;
}
.avatar.add::before,
.avatar.add::after {
  content: "";
  position: absolute;
  background-color: var(--secondary-event-color, --secondary-color);
}

/* Linea orizzontale */
.avatar.add::before {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 8px;
  transform: translate(-50%, -50%);
}

/* Linea verticale */
.avatar.add::after {
  left: 50%;
  top: 50%;
  width: 8px;
  height: 50px;
  transform: translate(-50%, -50%);
}
.trash{
  width: 3rem;
  filter: brightness(0) saturate(100%) invert(33%) sepia(71%) saturate(1540%) hue-rotate(326deg) brightness(85%) contrast(102%);
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #6666;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}